[submodule ".registry"]
	path = .registry
	url = https://github.com/jl5000/jl5000.r-universe.dev
	branch = HEAD
[submodule "gedcompendium"]
	path = gedcompendium
	url = https://github.com/jl5000/gedcompendium
[submodule "shinyged"]
	path = shinyged
	url = https://github.com/jl5000/shinyged
[submodule "tidyged"]
	path = tidyged
	url = https://github.com/jl5000/tidyged
[submodule "tidyged.internals"]
	path = tidyged.internals
	url = https://github.com/jl5000/tidyged.internals
[submodule "tidyged.io"]
	path = tidyged.io
	url = https://github.com/jl5000/tidyged.io
[submodule "tidyged.utils"]
	path = tidyged.utils
	url = https://github.com/jl5000/tidyged.utils
[submodule "visged"]
	path = visged
	url = https://github.com/jl5000/visged
